@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Buenard&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-background font-buenard
    }

    h1 {
        @apply text-3xl sm:text-3xl md:text-4xl lg:text-4xl xl:text-6xl 2xl:text-6xl font-arizonia font-bold
    }

    h3 {
       @apply text-2xl sm:text-2xl md:text-4xl lg:text-4xl xl:text-6xl 2xl:text-6xl font-buenard font-bold
    }

    span {
        @apply text-secondary
    }
}

::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #fff;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4fb7dd;
    border-radius: 1rem;
    background-clip: content-box;
  }